<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.udara.traveltime">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TravelTime">
        <activity
            android:name=".MapBasicActivity"
            android:exported="false"
            android:label="@string/title_activity_map_basic"
            android:theme="@style/Theme.TravelTime.NoActionBar" />
        <activity
            android:name=".PermissionsActivity"
            android:exported="false" />
        <activity
            android:name=".RouteRegistration"
            android:exported="false" />
        <activity
            android:name=".BusRegistration"
            android:exported="false" />
        <activity
            android:name=".PaymentDetailsScreen"
            android:exported="false" />
        <activity
            android:name=".RouteSearchScreen"
            android:exported="false" />
        <activity
            android:name=".SignupScreen"
            android:exported="false" />
        <activity
            android:name=".LoginScreen"
            android:exported="false" />
        <activity
            android:name=".WelcomeScreen"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyC0VB1spdQdkPENkKwZf-SFWGd41klg7xU" />
    </application>

</manifest>